*,*::after,*::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    height: 100svh;
    width: 100svw;
    overflow-x: hidden;
}
.page-1{
    position: relative;
    height: 100vh;
    padding-inline: 5rem;
    background-repeat: no-repeat;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
}
a{
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: outfit;
    text-align: center;
    font-weight:bold;
}
.left-nav{
    display: flex;
    align-items: center;
    transform-origin: top;
    transition: scale 400ms ease-in-out;
}
/* .main-logo{
    justify-self: flex-start;
} */
.left-nav ul,
.right-nav ul{
    display: flex;
    gap: 2vw;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    list-style-type: none;
    
}
.left-nav ul a,
.right-nav ul a{
    color: #FFFEFE;
    font-size: clamp(.5rem,1.3rem , 2rem);
    transition: all 400ms;
}
.right-nav ul a{
    box-sizing: content-box;
    padding: .5rem;
    margin: 0;
}
.en{
    font-weight: 600;
}
.nav-contact-button{
    color: #FFFEFE;
    background: #D20E44;
    align-self: center;
    font-family: outfit;
    font-size: 1rem;
    font-weight: 600;
    height: min-content;
    margin-top: .5em;
    padding: .6em .5em;
    border-radius: .6em;
    border: 0;
    transition: all 400ms;
}
.nav li:hover a{
    color: #D20E44;
    cursor: pointer;  
    text-shadow: 0 0 1px hotpink; 
}
.nav-contact-button:hover{
    background: transparent;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(.5em, 15vw + 1rem, 50rem);
    color: #FFFEFE;
    text-align: left;
    height: 77svh;

}
.hero p{
    font-family: outfit;
    margin: 0;
    font-size:0.75rem;
    text-shadow: 0 0 3px #fff;
}
.hero h1 a{
    letter-spacing: .1em;
    font-family: Bebas Neue;
    margin: 0;
    font-size: clamp(1rem, 3rem, 5rem);
}
.hero :not(div){
    transition: all 400ms;
}
.hero div:hover h1{
    margin: .5em;
    cursor: pointer;
    transform: scale(1.5);
    text-shadow: 0 0 2px #fff;
}
.page-1-logo{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 20vw;
    align-items:flex-end;
}
#check,label{
    display: none;
}
@media only screen and (max-width: 600px){
    .page-1{
        padding: 0 10vw;
        padding-top: 1rem;
    }
    .left-nav ul a{
        all: unset;
    } 
    label{
        display: block;
        color: #fff;
    }
    #check:checked ~ .left-nav{
       scale: 1 0;
    }
    .nav{
        position: fixed;
        background-color: rgba(38, 36, 36, .2);
        width: 80vw;
        padding: .5rem 1rem;
        margin: 0 auto;
        border-radius: 100vw;
        z-index: 999;
    }
    .left-nav{
        position: absolute;
        right: 5%;
        top: 110%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.1);
        width: 90%;
        justify-content: flex-end;
        transform: scale(1, 1);
        border-radius: 1rem;
        padding: 0 1rem;
    }
    .left-nav ul{
        flex-direction: column;
        align-items: flex-end;
    }
    .right-nav ul{
        margin:  auto auto;
    }   
    .hero{
        padding-top: 45%;
        height: 70%;
    }
    .hero div h1{
        font-size: 2rem;
    }
    .page-1-logo{
        gap: 5vw;
        padding-top:40% ;
    }
}

.page-2{
    position: relative;
    height: 100vh;
    padding-inline: 5em;
    background-image: url(images/page-2-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.page-2-fade{
    position: absolute;
    inset: 0;
    background: #E1E1E1;
    opacity: .5;
    z-index: 1;
}
.page-2-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding-block: 4rem;
}
.left{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding-block: 1rem;
    gap: 1rem;
    z-index: 2;
}
.left .big-text{
    font-family: Bebas Neue;
    font-size: clamp(2.5rem, 12vw + 1rem, 10rem);
    color: #8A8A8A;
    margin: 0;
    letter-spacing: .05em;
}
.left .small-text{
    font-family: outfit;
    font-size: clamp(.5rem, 1.1rem, 5rem);
    color: #8A8A8A;
    width: clamp(18rem, 28vw + .5rem, 100rem);
    font-weight: 600;
    
}
.right{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    gap: 1rem;
    position: relative;
    list-style-type: none;
    z-index: 2;
    width: max-content;
    padding: 1em;
    
    
}
.right a{
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: clamp(12px, 1rem, 5rem);
    font-family: outfit;
    font-weight: 600;
    padding-bottom: 1em;
}
.right:after{
    content: "";
    position: absolute;
    bottom: 0px;
    height: .15em;
    width: 100%;
    background: rgb(255, 255, 255);
}
.right a::after{
    display: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: .2em;
    width: 100%;
    background:#D20E44;
}
.right a:hover{
    color: #D20E44;
}
.right a:hover::after{
    display: block;
    z-index: 2;
}
.page-2-cards{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.card{    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
    align-items: center;
    height: 500px;
    border-radius:4.2rem 4.2rem ;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 400ms;
}

.page-2-cards .card:hover {
    transform: translateY(-6vh);
}
.card:nth-child(1){
    background-image: url("images/page-2-card-1.png");
}
.card:nth-child(2){
    background-image: url("images/page-2-card-2.png");
}
.card:nth-child(3){
    background-image: url("images/page-2-card-3.png");
}
.card:nth-child(4){
    background-image: url("images/page-2-card-4.png");
}
.card-topic{
    color: #E1E1E1;
    text-align: center;
    font-family: outfit;
    font-weight: 600;
    padding-bottom: 1em;
    letter-spacing: .1em;
}
/* RESPONSİVE */

@media only screen and (max-width: 1000px) {

    .page-2{
        height: auto;
    }
    .page-2-nav{
        padding-block: 2.5rem;
    }
    .card {
        width: 35%;
        margin-bottom: 3rem;
    }  
}
@media only screen and (max-width: 700px) {
    
    .page-2{
        padding-inline: 1rem;
    }
    .left{
        margin: 0 auto;
    }
    .left .small-text{
        text-align: center;
        flex-grow: 1;
    }
    .card {
        width: 70%;
        height: 25rem;
    }  
    .right{
        margin: 0 auto;
        width: max-content;
        gap: .5rem;
    } 
    .card,.inside-text{
        position: relative;
        width: 60%;
        height: 25rem;
        transition: all 500ms;
    } 
    .card-topic{
        font-size: 1rem;
    }
    .page-2-cards{
        margin:  0 auto;
        width: 70%;
    }
    .page-2-cards .card:hover .inside-text{
        transition-delay: 200ms;
        font-size: 1rem;
    }
    .page-2-cards .card:hover .hover-text{
        transition-delay: 400ms;
        opacity: 1;
    }
    .page-2-cards .card:hover{
        width: 30%;
        margin-right: 70%;
        transform: translate(0);
    }
    .page-2-cards .card:hover .card-topic{
        display: none;
    }
    .inside-text{
        width: 45vw;
        height: 100%;
        position: absolute;
        left: 110%;
        top: 10%;
        font-family: outfit;
        color: white;
        font-size: 0px;
        text-align: center;
        font-weight: 600;
    }
    .hover-text{
        opacity: 0;
        width: 45vw;
        position: absolute;
        left: 110%;
        bottom: 10%;
        font-family: outfit;
        color:#D20E44;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 600;
    }
    .hover-text{
        transition: all 400ms;
    }
}
  @media only screen and (max-width: 500px){
    
    .right:after{
        display: none;
    }.card {
        position: relative;
        width: 60%;
        height: 20rem;
    }  
    .left .big-text,.small-text{
            margin: 0 auto;
    }
    .right{
        font-size:.1rem ;
    }
  }
.page-3{
    position: relative;
    height: 100vh;
    padding-inline: 5em;
    background-image: url("images/page-3-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.page-3-text{
    font-family: Bebas Neue;
    font-size: clamp(2.5rem, 12vw + 1rem, 10rem);
    color: #ffffff;
    margin: 0;
    letter-spacing: .05em;
}
.page-3-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 65svh;
    width: 100%;
}
.card-3-1,
.card-3-2{
    width: 30%;
    height: 80%;
    z-index: 2;
    border-radius: 1rem ;
}
.card-3-1{
    color: #000;
    background: #fff;
    font-weight: 700;
    text-align: left;
    font-size: clamp(1rem, 1vw + .5rem, 8rem);
    font-family: outfit;
    height: auto;
    padding: 2rem;
}
.card-3-2{
    align-self: flex-start;
    background-image: url("images/page-3-card-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 800px){
    .page-3-cards{
        height: 75svh;
        padding-top: 20%;
    }
    .card-3-1{
        width: 50%;
        margin-inline: 0;
        align-self: flex-start;
    }
    .card-3-2{
        width: 40%;
        height: 60%;
    }
}
@media only screen and (max-width: 600px){
    .page-3-text{
        width: max-content;
        margin-inline: auto;
    }
    .page-3{
        padding-inline: 1rem;
    }
    .page-3-cards{
        height: 85svh;
        padding-top: 1%;
    }
    
    .card-3-1{
        width: 90%;
        text-align: left;
        font-size: 1.2rem;
    }
    .card-3-2{
        height: 50%;
        width: 90%;
    }
}
@media only screen and (max-width: 500px){
    .page-3-cards{
        height: 87%;
        padding-top: 1rem;
    }
    .page-3-text{
        padding-top: 2rem;
    }
    .card-3-1{
        width: 60%;
        font-size: 1rem;
        padding: .8rem;
    }
    .card-3-2{
        height: 35%;
    }   
}
    
    







